{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/main-phone.css' %}">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
<link rel="icon" href="{% static 'img/raspi.webp' %}">
<title>Serwer - Panel</title>
</head>
<body>
    <nav>
        <h1 style="display: none;" id="menu">Menu</h1>
        <input type="checkbox" id="hamburger" style="display: none;">
        <label for="hamburger" class="hamburger">
        <div class="line"></div>
        </label>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'appupdate' %}">App update</a></li>
            <li><a href="{% url 'currency' %}">Currency</a></li>
            <li><a href="{% url 'stock' %}">Stock</a></li>
            <li><a href="{% url 'status' %}">Status</a></li>
        </ul>
    </nav>
    <center><img src="{% static 'img/raspi.webp' %}" width="200px" height="180px"></center>
    
    <!-- PANEL -->
    <div class="panel_main">

        <!-- Panel -->  
        <div class="panel_info">
            <div class="info">
                <p>Version</p>
                <p class="center">{{ version|safe }}</p>
            </div>
        </div>

        <!-- Temperature CPU -->
        <div class="panel_info">
            <div class="info">
                <p>CPU temperature</p>
                <p class="center">{{cpu}}</p>
            </div>
        </div>

        <!-- Memory usage -->
        <div class="panel_info">
            <div class="info">
                <p>Memory usage</p>
                <p class="center">{{ram}}</p>
            </div>
        </div>

        <!-- Disc status -->
        <div class="panel_info">
            <div class="info">
                <p>Disc</p>
                <p class="center">{{disc}}</p>
            </div>
        </div>

        <!-- Temperature chart -->
        <div class="panel_chart span-2">
            <canvas id="line-chart_temp" width="550px" height="550px"></canvas>
        </div>

        

        <!-- RAM usage chart -->
        <div class="panel_chart span-2">
            <canvas id="line-chart_ram" width="550px" height="550px"></canvas>
        </div>

        <!-- CPU usage chart -->
        <div class="panel_chart span-2">
            <canvas id="line-chart_cpu_usage" width="550px" height="550px"></canvas>
        </div>

        <!-- <div class="panel_info span-2">
        <canvas id="line-chart_bitcoin" width="550px" height="550px"></canvas>
        </div>

        
        <div class="panel_info">
            <div class="info">
            
            </div>
        </div> -->
        
        <!-- <div class="panel_info span-2">
            <canvas></canvas>
        </div> -->

        <!-- POPUP
        <div class="popup" id="popup">
            <div style="position: relative; height: 100%; width: 100%;">
            <a class="close" id="close"></a>
            <form action="" method="post"> 
                <h1>Subscribe</h1>
                <p>Let us inform you when the new iOS update comes live! <br/>
                Give us your email and we will send you updates as soon as they become available. </p>
                <input type="email" name="email" class="" placeholder="example@example.example" value=""  require>
                <input type="submit" name="subscribe" value="Subscribe" id="subscribe">
            </form>
            </div>
        </div> -->
        <script>
            new Chart(document.getElementById("line-chart_temp"), {
                type: 'line',
                data: {
                    labels: [ {{ label_cpu|safe }} ],
                    datasets: [{ 
                        data: [ {{ data_cpu|safe }}],
                        label: "CPU temperature [º]",
                        borderColor: "#" + Math.floor(Math.random()*16777215).toString(16),
                        fill: true
                    },
                    ]},
                options: {
                    title: {
                    display: true,
                    text: ''
                    }
                }
            });

            new Chart(document.getElementById("line-chart_ram"), {
                type: 'line',
                data: {
                    labels: [{{ label_ram|safe }} ],
                    datasets: [{ 
                    data: [{{ data_ram|safe }}],
                        label: "Ram usage [%]",
                        borderColor: "#" + Math.floor(Math.random()*16777215).toString(16),
                        fill: true
                    },
                    ]},
                options: {
                    title: {
                    display: true,
                    text: ''
                    }
                }
            });

            new Chart(document.getElementById("line-chart_cpu_usage"), {
                type: 'line',
                data: {
                    labels: [{{ label_cpu_usage|safe }} ],
                    datasets: [{ 
                    data: [{{ data_cpu_usage|safe }}],
                        label: "CPU usage [%]",
                        borderColor: "#" + Math.floor(Math.random()*16777215).toString(16),
                        fill: true
                    },
                    ]},
                options: {
                    title: {
                    display: true,
                    text: ''
                    }
                }
            });
        </script>
    </div>
    <footer>
        <center>&#169; By<a href="http://fern.fun/"> Fern.fun</a></center>
    </footer>
</body>
</html>

