{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/main-phone.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="icon" href="{% static 'img/raspi.webp' %}">
    <title>Panel - Status</title>
</head>

<body>
    {% include '../navbar.html' %}
    <center><img src="{% static 'img/raspi.webp' %}" width="200px" height="180px"></center><!-- PANEL -->
    <div class="panel_main">
        <!-- Fern.fun -->
        <div class="panel_info">
            <div class="info">
                <p>Fern.fun</p>{{ Fern|safe }}
            </div>
        </div><!-- Data collection services -->
        <div class="panel_info">
            <div class="info">
                <p id="dcs" class="click">DCS</p>{{ DCS|safe }}
            </div>
        </div><!-- Stock data services -->
        <div class="panel_info">
            <div class="info">
                <p id="sds" class="click">SDS</p>{{ SDS|safe }}
            </div>
        </div><!-- Discord Bot -->
        <div class="panel_info">
            <div class="info">
                <p>Discord Bot</p>{{ DS|safe }}
            </div>
        </div>
    </div>

    <script>
    var x = 0;
    $('#dcs').click(function() {
        if (x == 0) {
            $(this).text('Data collection services');
            x = 1;
        } else {
            $(this).text('DSC');
            x = 0;
        }
    });
    $('#sds').click(function() {
        if (x == 0) {
            $(this).text('Stock data services');
            x = 1;
        } else {
            $(this).text('SDS');
            x = 0;
        }
    });
    </script>

    {% include '../footer.html' %}
</body>
</html>