@use "../../var.scss" as *;

.tile {
  background: rgba($color: $background-dark, $alpha: 0.6);

  position: relative;

  padding: 1rem;
  margin: 1rem;

  @media screen and (min-width: $mobile-width) {
    width: 250px;
    height: 250px;
  }

  @media screen and (max-width: $mobile-width) {
    height: 300px;
  }

  display: grid;
  border-radius: 5px;
  grid-template-rows: 10% 90%;

  .title {
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    color: $fern-color;
  }

  .content--circle-progress {
    margin: auto;
    position: relative;

    margin-top: 50px;

    height: 120px;
    width: 120px;
    background: $fern-color;
    border-radius: 50%;
    display: grid;
    place-items: center;

    &::before {
      content: "";
      position: absolute;
      height: 84%;
      width: 84%;
      background: rgba($color: $background-dark, $alpha: 1);
      border-radius: 50%;
    }

    div {
      position: relative;
      font-size: 1.5rem;
    }
  }

  .content--system-info {
    font-size: 0.8rem;
    width: auto;
    margin: 1rem;
    padding: 0.5rem;
    text-align: justify;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;

    div {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      align-content: center;

      span {
        margin: 1rem;
        text-align: left;
      }
    }
  }

  .content--cpu-temp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    text-align: center;

    div {
      display: grid;
      place-items: center;

      font-size: 0.9rem;
    }

    div:first-child {
      font-size: 1.5rem;
    }
  }
}
