<nav>
    <h1 style="display: none;" id="menu">Menu</h1>
    <input type="checkbox" id="hamburger" style="display: none;">
    <label for="hamburger" class="hamburger">
    <div class="line"></div>
    </label>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'appupdate' %}">App update</a></li>
        <li><a href="{% url 'currency' %}">Currency</a></li>
        <li><a href="{% url 'stock' %}">Stock</a></li>
        <li><a href="{% url 'status' %}">Status</a></li>
        <li><a href="{% url 'tools' %}">Tools</a></li>
    </ul>
</nav>