body {
  background: #a32c41;
  text-decoration: none;
  color: black;
  transition: 0.6s background-color;
}

nav {
  background-color: #dc3855;
  transition: 0.6s background-color;
}

.navText {
  color: black;
}

.navText:hover {
  background-color: #ce3551;
  transition: 0.6s background-color;
}

.panel {
  background-color: #dc3855;
  transition: 0.6s background-color;
}

.carouselPanel {
  background-color: #dc3855;
  transition: 0.6s background-color;
}
.carouselPanel a {
  color: white;
}

.home__panel__a {
  color: black;
}

.footer {
  background-color: #dc3855;
  transition: 0.6s background-color;
}
