body {
  background: #3b272d;
  text-decoration: none;
  color: white;
  transition: 0.6s background-color;
}

nav {
  background-color: #674550;
  transition: 0.6s background-color;
}

.navText {
  color: white;
}

.navText:hover {
  background-color: #583c45;
}

.panel {
  background-color: #674550;
  transition: 0.6s background-color;
}

.carouselPanel {
  background-color: #674550;
  transition: 0.6s background-color;
}
.carouselPanel a {
  color: white;
}

.home__panel__a {
  color: white;
}

.footer {
  background-color: #674550;
  transition: 0.6s background-color;
}
