@use "./varables.scss" as v;

.gridPanel {
  @media screen and (min-width: v.$mobile-width) {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: 1em;
    flex-direction: row;
    align-content: flex-start; /* NEW */
  }

  @media screen and (max-width: v.$mobile-width) {
    
  }
}
