@use "./variables.scss" as v;

.tile {
  .tile-title {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.1em;
    color: rgba(v.$color, 0.8);
  }

  .tile-content {
    margin: auto;
    position: relative;

    top: 25%;
    transform: translateY(-50%);

    margin-top: 50px;

    height: 120px;
    width: 120px;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;

    img {
      cursor: pointer;
    }

    div:last-child {
      padding: 5px;
      span {
        font-size: 0.7rem;
        margin: 5px;
      }
    }
  }

  #online {
    color: v.$secoundary-color;
  }

  #offline {
    color: v.$error-color;
  }
}
