@use "./variables.scss" as v;

.to-do-panel {
  // border: 2px solid red;

  display: grid;
  grid-template-rows: 100px 1fr 50px;

  .to-do-first-tile {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    input {
      cursor: pointer;
      width: 70%;
      background: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid v.$secoundary-color;
      border-radius: 2px;
      padding: 15px;
      margin: 5px;
      color: v.$color;
    }

    img {
      width: 48px;
      height: 48px;
      margin-left: 15px;

      transition: transform 0.3s ease-in-out;
      &:hover {
        cursor: pointer;
        transform: rotate(180deg);
      }
    }
  }

  .to-do {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    div {
      display: inline-flex;
      align-items: center;
      justify-content: center;

      background-color: v.$sidebar-color;
      padding: 25px;
      margin: 15px;
      min-width: 80%;
      border-radius: 5px;

      img {
        width: 32px;
        height: 32px;
        margin-left: 15px;
        cursor: pointer;
      }
    }
  }

  .to-do-bnt {
    @media screen and (max-width: v.$mobile-width) {
      position: fixed;
      bottom: 0;
    }

    background: v.$sidebar-color;
    width: 100%;
    display: flex;
    justify-content: center;

    .bnt {
      cursor: pointer;
      background: transparent;
      border: none;
      outline: none;

      min-width: 100px;
      padding: 10px;
      margin: 5px;

      border-radius: 5px;
      color: white;
    }

    .bnt-blue {
      border: 2px solid v.$bnt-blue;

      transition: background 0.3s ease-in-out;

      &:hover {
        background: rgba($color: v.$bnt-blue, $alpha: 0.6);
        color: v.$color;
      }
    }

    .bnt-red {
      border: 2px solid v.$bnt-red;

      transition: background 0.3s ease-in-out;

      &:hover {
        background: rgba($color: v.$bnt-red, $alpha: 0.6);
        color: v.$color;
      }
    }

    .bnt-green {
      border: 2px solid v.$bnt-green;

      transition: background 0.3s ease-in-out;

      &:hover {
        background: rgba($color: v.$bnt-green, $alpha: 0.6);
        color: v.$color;
      }
    }
  }
}
