/* Selection */
$selection-color: #232323;
$secoundary-bg-color: #62fb67;

/* Body */
$body-bg-color: #292929;
$body-color: #fff;

/* Scrollbar */
$scrollbar-handle-color: #303030;
$scrollbar-handle-hover-color: #62fb67;

/* Media */
$mobile-width: 950px;

/* Sidebar */
$sidebar-bg-color: #232323;
$sidebar-line-hover-color: #62fb67;
$sidebar-a-hover-color: #95a5a6;
