$base-color: #292929;
$mobile-width: 950px;
$color: #fff;
$secoundary-color: #62fb67;
$secoundary-color-low: #62fb676c;
$bnt-blue: #5cb0ff;
$bnt-red: #ff5c67;
$bnt-green: #5dc280;
$hoverTextColor: #95a5a6;

$sidebar-color: #232323;
$sidebar-color-low: #353535;
