.carouselPanel {
  display: flexbox;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 20px;

  overflow: auto;
  background-color: #3e0748;

  width: 95%;
  max-height: 385px;
}

.carouselPanel h1 {
  margin: 10px;
}

.carousel {
  display: inline-flex;
}

.carouselCell {
  border-radius: 7px;
  position: relative;
  margin-left: 10px;
}

.carouselImage {
  margin: 15px;

  border-radius: 7px;
  width: 365px;
  height: 205px;
  object-fit: cover !important;
}

.carouselTitle {
  position: absolute;
  top: 91%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 100%;
  font-size: unset;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.carouselScore {
  position: absolute;

  width: max-content;

  padding: 10px;

  top: 10%;
  left: 80%;

  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}

.carouselItem {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 365px;
  height: 205px;
  overflow: hidden;
}
