.carouselPanel {
  position: relative;
  display: flexbox;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 20px;

  overflow: hidden;
  background-color: #3e0748;

  width: 95%;
  max-height: 385px;
  padding-left: 10px;
}

.carouselPanel h1 {
  margin: 10px;
}

.carousel {
  display: inline-flex;
}

.carouselCell {
  transition: transform 0.6s;
  border-radius: 7px;
  position: relative;
}

.carouselImage {
  margin: 15px;

  border-radius: 7px;
  width: 365px;
  height: 205px;
  object-fit: cover !important;
}

.carouselTitle {
  position: absolute;
  top: 87%;
  left: 47%;

  transform: translate(-50%, -50%);
  width: 100%;
  font-size: unset;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.carouselScore {
  position: absolute;

  width: max-content;

  padding: 10px;

  top: 10%;
  left: 80%;

  transform: translate(-50%, -50%);
  font-size: 1.2rem;
}

.carouselItem {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 365px;
  height: 205px;
  overflow: hidden;
}

.leftArrow {
  z-index: 3;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translate(0, -50%);

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 5px;

  cursor: pointer;
  filter: invert();
  transition: filter 0.3s;
}

.leftArrow:hover {
  filter: none;
}
.rightArrow {
  z-index: 3;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);

  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 5px;

  cursor: pointer;
  filter: invert();
  transition: filter 0.3s;
}

.rightArrow:hover {
  filter: none;
}
