.loginFormPanel form input[type="email"] {
  background: transparent;
  border: 2px solid #3e0748;
  outline: none;
  border-radius: 3px;
  font-size: 0.8rem;
  padding: 10px;
  color: white;
}

.loginFormPanel form input[type="email"]:hover,
input[type="password"]:hover {
  border: 2px solid #3e0748;
}

.link {
  cursor: pointer;
}

.labelTitle {
  font-size: 2rem;
}
