@use "../var.scss" as *;

// Page Container
.page-container {
  margin: 5rem 0;
  height: 50vh;

  @media screen and (min-width: $mobile-width) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .box-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .box__image {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 50%;
        }
      }
    }

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;
      height: 100%;

      &__title {
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        max-width: 700px;
        text-align: center;
        margin: 1rem;
      }

      &__content {
        font-size: 0.8rem;
        width: 700px;
        text-align: justify;
        margin: 1rem;

        &__media {
          margin: 1rem;
        }
      }

      &-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__title {
          font-size: 1.6rem;
          font-weight: 600;
          text-transform: uppercase;
          width: fit-content;
          margin: 1rem;
        }

        &__content {
          text-align: left;
          max-width: 600px;
        }
      }
    }
  }

  @media screen and (max-width: $mobile-width) {
    .box-image {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 100%;

      .box__image {
        margin: 1rem;
        padding: 0.5rem;

        img {
          width: 80%;
          padding: 1rem;
        }
      }
    }

    .box-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__title {
        font-size: 1.6rem;
        font-weight: 600;
        text-transform: uppercase;
        width: fit-content;
        margin: 1rem;
      }

      &__content {
        padding: 1rem;
        text-align: left;
        max-width: 600px;
      }
    }

    .box__title {
      font-size: 1.5rem;
      font-weight: 600;
      text-transform: uppercase;
      margin: 1rem;
      padding: 0.5rem;
    }

    .box__content {
      font-size: 0.8rem;
      width: auto;
      margin: 1rem;
      padding: 0.5rem;
      text-align: justify;

      .box__content__media {
        margin: 1rem;
      }
    }
  }
}

// Fern Text
.fern-text {
  background: -webkit-linear-gradient($fern-color, $fern-color-second);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}
