{{ connection1 | async }}
{{ connection2 | async }}
<div class="grid">
    <app-panel>
        <p title>USD to PLN</p>
        <p content> {{ usdValue }} </p>
        <img src="../../assets/img/usd.webp" alt="USD symbol" img>
    </app-panel>
    <app-panel>
        <p title>EUR to PLN</p>
        <p content> {{ eurValue }} </p>
        <img src="../../assets/img/eur.webp" alt="USD symbol" img>
    </app-panel>
    <app-panel>
        <p title>GBP to PLN</p>
        <p content> {{ gbpValue }} </p>
        <img src="../../assets/img/gbp.webp" alt="USD symbol" img>
    </app-panel>
    <app-panel>
        <p title>BTC to PLN</p>
        <p content> {{ btcValue }} </p>
        <img src="../../assets/img/btc.webp" alt="USD symbol" img>
    </app-panel>
    <app-panel>
        <p title>ETH to PLN</p>
        <p content> {{ ethValue }} </p>
        <img src="../../assets/img/eth.webp" alt="USD symbol" img>
    </app-panel>
    <app-panel>
        <p title>DOGE to PLN</p>
        <p content> {{ dogeValue }} </p>
        <img src="../../assets/img/doge.webp" alt="USD symbol" img>
    </app-panel>
    <app-panel>
        <p title>Shib to PLN</p>
        <p content> {{ shibValue }} </p>
        <img src="../../assets/img/shib.webp" alt="USD symbol" img>
    </app-panel>
    <app-panel>
        <p title></p>
        <p content></p>
    </app-panel>
    <app-chart class='span-2 panel' style="padding: 10px" [data]="lineChartDataBTC" [labels]="lineChartLabelsBTC">
    </app-chart>
    <app-chart class='span-2 panel' style="padding: 10px" [data]="lineChartDataETH" [labels]="lineChartLabelsETH">
    </app-chart>
    <app-chart class='span-2 panel' style="padding: 10px" [data]="lineChartDataDoge" [labels]="lineChartLabelsDoge">
    </app-chart>
</div>