@media (max-width: 700px) {
	div.panel_main {
		display: flex;
		flex-direction: column;
	}
	.panel_info {
		display: inline-flex;
		margin: 15px;
		border-radius: 20px;
		overflow: hidden;
		/* min-width: 180px; */
		width: auto;

		height: max-content;
		background-color: #3e0748;
		animation: appear 500ms ease-out forwards;
	}
	.panel_chart {
		display: inline-flex;
		margin: 15px;
		border-radius: 20px;
		position: relative;
		overflow: hidden;
		/* min-width: 180px; */
		width: auto;

		height: max-content;
		background-color: #3e0748;
		animation: appear 500ms ease-out forwards;
	}
	.info {
		width: 100%;
	}

	$hb-width: 1.2em;
	$hb-height: 0.16em;
	$hb-colour: white;
	$line-spacing: 2 * $hb-height;

	.hamburger {
		font-size: 2rem;
		// display: none;
		// background-color: red;
		width: 1.5em;
		height: 1.5em;
		position: fixed;
		top: 0;
		right: 0.5em;
		z-index: 2;

		.line {
			width: $hb-width;
			height: $hb-height;
			background-color: white;
			position: relative;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border-radius: 0.1em;
			transition: all 0.3s ease-in-out;
		}
		.line::before,
		.line::after {
			content: " ";
			background-color: white;
			position: absolute;
			width: $hb-width;
			height: $hb-height;
			border-radius: 0.1em;
			transition: all 0.3s ease-in-out;
		}
		.line::before {
			top: $line-spacing;
		}
		.line::after {
			top: -$line-spacing;
		}
	}

	input[type="checkbox"]:checked + label .line {
		background: transparent;
	}
	input[type="checkbox"]:checked + label .line::before,
	input[type="checkbox"]:checked + label .line::after {
		top: 0;
	}
	input[type="checkbox"]:checked + label .line::before {
		transform: rotate(45deg);
	}
	input[type="checkbox"]:checked + label .line::after {
		transform: rotate(-45deg);
	}
	input[type="checkbox"]:checked ~ ul {
		display: block;
	}
	ul {
		display: none;
	}
	#menu {
		display: block !important;
		line-height: 48px;
		padding-left: 0.5em;
	}
}
