@media (max-width: 700px) {
	div.panel_main {
		display: flex;
		flex-direction: column;
	}
	.panel_info {
		display: inline-flex;
		margin: 15px;
		border-radius: 20px;
		overflow: hidden;
		/* min-width: 180px; */
		width: auto;

		height: max-content;
		background-color: #3e0748;
		animation: appear 500ms ease-out forwards;
	}
	.panel_chart {
		display: inline-flex;
		margin: 15px;
		border-radius: 20px;
		position: relative;
		overflow: hidden;
		/* min-width: 180px; */
		width: auto;

		height: max-content;
		background-color: #3e0748;
		animation: appear 500ms ease-out forwards;
	}
	.info {
		width: 100%;
	}
}
