body {
  background: #c9a8a1;
  text-decoration: none;
  color: black;
  transition: 0.6s background-color;
}

nav {
  background-color: #f4c4bb;
  transition: 0.6s background-color;
}

.navText {
  color: black;
}

.navText:hover {
  background-color: #e2b6ae;
}

.panel {
  background-color: #f4c4bb;
  transition: 0.6s background-color;
}

.carouselPanel {
  background-color: #f4c4bb;
  transition: 0.6s background-color;
}
.carouselPanel a {
  color: white;
}

.home__panel__a {
  color: black;
}

.footer {
  background-color: #f4c4bb;
  transition: 0.6s background-color;
}
