body {
  background: #16181a;
  text-decoration: none;
  color: white;
  transition: 0.6s background-color;
}

nav {
  background-color: #262a2c;
  transition: 0.6s background-color;
}

.navText {
  color: white;
}

.navText:hover {
  background-color: #34393b;
  transition: 0.6s background-color;
}

.panel {
  background-color: #262a2c;
  transition: 0.6s background-color;
}

.carouselPanel {
  background-color: #262a2c;
  transition: 0.6s background-color;
}
.carouselPanel a {
  color: white;
}

.home__panel__a {
  color: white;
}

.footer {
  background-color: #262a2c;
  transition: 0.6s background-color;
}
