.loginFormPanel {
  position: relative;
  width: 90%;
  margin: auto;
}

.loginFormPanelForm {
  width: max-content;
  margin: auto;

  padding: 15px;
}

.loginFormPanelForm form label {
  font-size: 1.1rem;
}

.loginFormPanelForm form {
  margin: 25px;

  display: flex;
  flex-direction: column;
}

.loginFormPanel form * {
  margin: 15px;
}

.loginFormPanel form input[type="text"],
input[type="password"] {
  background: transparent;
  border: 2px solid #3e0748;
  outline: none;
  border-radius: 3px;

  padding: 10px;
  color: white;
}

.loginFormPanel form input[type="text"]:hover,
input[type="password"]:hover {
  border: 2px solid #3e0748;
}

.loginFormPanelForm form input[type="submit"] {
  transition: 0.4s;
  background: transparent;
  border: 2px solid #3e0748;
  border-radius: 3px;

  padding: 15px;
  color: white;
  font-size: 1.1rem;
}

.loginFormPanelForm form input[type="submit"]:hover {
  background: #3e0748;
}

.loginFormPanelFormSpinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 40%;
  height: 90%;

  display: grid;
  border-radius: 8px;

  background: rgba(62, 7, 72, 0.6);

  visibility: visible;
}
