@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
  color: #fff;
}

body {
  min-height: 100vh;
  background: #150019;
}
