.panel {
  display: inline-flex;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #3e0748;
}

.info {
  width: 100%;
  margin: 15px;
  position: relative;
  overflow: hidden;
  background: #3e0748;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
}

.title {
  font-size: 1.7rem;
  text-align: center;
}

.content {
  font-size: 1.5rem;
  font-weight: 100;
  margin-top: 15px;
  text-align: center;
}

.loading {
  display: block;
  margin: 0 auto;
  border-color: red;
}
